<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/auth-layout.html}">
<head>
	<title>Error</title>
</head>
<body>
	<div layout:fragment="content">
	    <div class="starter-template">
	        <h1>403 - Access is denied</h1>
	        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]', 
	                you do not have permission to access this page.</div>
	    </div>
	</div>
</body>
</html>