<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title th:text="#{|${baseMessageKey}.page.title|}"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<!-- Form -->
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-header border-0">
						<div class="row">
							<div class="col-6">
								<a class="btn btn-icon btn-2 btn-primary"
									th:href="${baseURL + '/current-page'}"
									th:title="#{action.go.to.list.title}"> <span
									class="btn-inner--icon"> <i class="fas fa-arrow-left"></i>
										<span th:text="#{action.go.to.list}"></span>
								</span>
								</a>
							</div>

							<div class="col-6 text-right">
								<h3 class="mb-0" th:text="${formTitle}"></h3>
							</div>
						</div>
					</div>

					<div class="card-body border-0">
						<form
							th:action="${writePermission ? baseURL + '/' + action : 'javascript:;'}"
							th:object="${dto}" method="post">
							<fieldset th:disabled="${!writePermission}">
								<div class="row">
									<div class="col-md-8 col-sm-10">
										<!-- User -->
										<div class="form-group row">
											<label for="groupId"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.user|}"></label>
											<div class="col-md-4 col-sm-8">
												<select class="form-control" id="canal" th:field="*{userId}">
													<option th:each="user : ${users}" th:value="${user.id}"
														th:text="${user.fullName}"></option>
												</select>
											</div>
										</div>
										<!-- Subscription type -->
										<div class="form-group row">
											<label for="groupId"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.subtype|}"></label>
											<div class="col-md-4 col-sm-8">
												<select class="form-control" id="canal"
													th:field="*{subtypeId}">
													<option th:each="subtype : ${subtypes}"
														th:value="${subtype.id}" th:text="${subtype.name}">
													</option>
												</select>
											</div>
										</div>
										<!-- Validity start and end date -->
										<div class="form-group row">
											<!-- Validity start date -->
											<label for="groupId"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.validstartdate|}"></label>
											<div class="col-md-4 col-sm-8">
												<input type="date" class="form-control"
													th:field="*{validStartDate}" id="validStartDate"
													required="required" />
											</div>
											<!-- Validity end date -->
											<label for="groupId"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.validenddate|}"></label>
											<div class="col-md-4 col-sm-8">
												<input type="date" class="form-control"
													th:field="*{validEndDate}" id="validEndDate"
													required="required" />
											</div>
										</div>
										<!-- Duration -->
										<div class="form-group row">
											<label for="groupId"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.duration|}"></label>
											<div class="col-md-4 col-sm-8">
												<select class="form-control" id="duration"
													th:field="*{duration}">
													<option th:each="duration : ${durations}"
														th:value="${duration}"
														th:text="${duration} + ' ' + #{|${baseMessageKey}.detail.duration.unit|}">
													</option>
												</select>
											</div>
										</div>
										<!-- Subscription start and end date -->
										<div class="form-group row">
											<!-- Subscription start date -->
											<label for="groupId"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.subscriptionstartdate|}"></label>
											<div class="col-md-4 col-sm-8">
												<input type="date" class="form-control"
													th:field="*{subscriptionStartDate}"
													id="subscriptionStartDate" required="required" />
											</div>
											<!-- Subscription end date -->
											<label for="groupId"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.subscriptionenddate|}"></label>
											<div class="col-md-4 col-sm-8">
												<input type="date" class="form-control"
													th:field="*{subscriptionEndDate}" id="subscriptionEndDate"
													required="required" />
											</div>
										</div>
										<!-- Price -->
										<div class="form-group row">
											<label for="title"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.price|}"></label>
											<div class="col-md-4 col-sm-8">
												<input type="number" step="0.01" class="form-control"
													id="price" th:field="*{price}"
													th:placeholder="#{|${baseMessageKey}.detail.price.placeholder|}" />
												<div class="invalid-feedback"></div>
											</div>
										</div>

										<!-- Status -->
										<div class="form-group row">
											<label for="status"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.status|}"></label>
											<div class="col-md-4 col-sm-8">
												<input id="status" th:field="*{status}" type="checkbox">
											</div>
										</div>
										<!-- Termination asked -->
										<div class="form-group row">
											<label for="terminationAsked"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.terminationasked|}"></label>
											<div class="col-md-4 col-sm-8">
												<input id="terminationAsked" th:field="*{terminationAsked}" type="checkbox">
											</div>
										</div>		
										<!-- Payment status -->
										<div class="form-group row">
											<label for="groupId"
												class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.paymentstatus|}"></label>
											<div class="col-md-4 col-sm-8">
												<select class="form-control" id="canal"
													th:field="*{paymentStatus}">
													<option th:each="paymentStatus : ${paymentStatus}"
														th:value="${paymentStatus}" th:text="${subtype.name}">
													</option>
												</select>
											</div>
										</div>								
									</div>
								</div>
							</fieldset>

							<div class="form-group row">
								<div
									class="offset-md-1 col-md-11 offset-sm-3 col-sm-9 col-xs-12">
									<div class="form-action-buttons-row">
										<button type="submit" class="btn btn-primary"
											th:title="#{action.save.title}">
											<i class="fas fa-save"></i> <span class="hidden-xs"
												th:text="#{action.save}"></span>
										</button>

										<a class="btn btn-outline-warning"
											th:href="${baseURL + '/current-page'}"
											th:title="#{action.go.to.list.title}"> <span
											class="btn-inner--icon"> <i class="fas fa-arrow-left"></i>
												<span th:text="#{action.go.to.list}"></span>
										</span>
										</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</th:block>

	<th:block layout:fragment="scripts">

	</th:block>
</body>
</html>