<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title>Upload file</title>
</head>
<body>
	<div layout:fragment="content">
		<h3>Users import</h3>
		<form method="POST" th:action="${baseURL + '/importcsv'}"	enctype="multipart/form-data">			
			 <table>
		        <tr>
		            <td><input type="file" name="file" /></td>
		        </tr>
		        <tr>
		            <td><BR><input type="submit" value="Submit" /></td>
		        </tr>
		        <tr>
		            <td><BR><i>Note: Make sure that the column names are correct. If you are not sure about columns names, you can make an CSV export to check.</i></td>
		        </tr>
		    </table>		    
		</form>
	</div>
</body>
</html>