<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title th:text="#{|${baseMessageKey}.page.title|}"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card  shadow">
						<!-- Card header -->
						<div class="card-header border-0">
							<div class="row">
								<div class="col-md-6">
									<a class="btn btn-icon btn-2 btn-primary"
										th:href="${baseURL+ '/current-page'}"
										th:title="#{action.go.to.list.title}"> <span
										class="btn-inner--icon"> <i class="fas fa-arrow-left"></i>
											<span th:text="#{action.go.to.list}"></span>
									</span>
									</a>
								</div>

								<div class="col-md-6 text-right d-md-none d-lg-block">
									<div  id="reset_pwd_email_div"
										th:if="${writePermission && #strings.contains(action, 'update')}">
										<h3 class="mb-0 form-title-label">Update Professional</h3>
									</div>
									<div  id="reset_pwd_email_div"
										th:unless="${writePermission && #strings.contains(action, 'update')}">
										<h3 class="mb-0 form-title-label">Add Professional</h3>
									</div>
								</div>

							</div>
						</div>
						<!-- Card body -->
						<div class="card-body px-lg-5 py-lg-5">
							<form th:action="${writePermission ? baseURL + '/' + action : 'javascript:;'}"
								th:object="${dto}" method="post" enctype="multipart/form-data" id="professional_form">
								<fieldset th:disabled="${!writePermission}">
									<input type="hidden" th:field="*{id}" />
									<div class="row">
										<div class="col-md-12 col-sm-12">
											<!-- INFORMATION SECTION -->
											<h2>Information</h2><br>
											<!-- Last Name -->
											<div class="form-group row">
												<label for="lastname"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.lastname|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" id="lastname" type="text"
														th:field="*{lastName}">
												</div>
											</div>
											<!-- First Name -->
											<div class="form-group row">
												<label for="firstname"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.firstname|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="firstname"
														th:field="*{firstName}" required>
												</div>
											</div>
											<!-- Email -->
											<div class="form-group row">
												<label for="email"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.email|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="email" id="email"
														th:field="*{email}" required>
												</div>
											</div>
											<!-- Phone Number -->
											<div class="form-group row">
												<label for="phoneNumber"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.phonenumber|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="tel" id="phoneNumber"
														th:field="*{phoneNumber}" required>
												</div>
											</div>
											<!-- Address -->
											<div class="form-group row">
												<input type="hidden" th:field="*{address.id}">
												<input type="hidden" th:field="*{address.latitude}" id="latitude">
												<input type="hidden" th:field="*{address.longitude}" id="longitude">
												<input type="hidden" id="searchAddrValue" value="">
												<label for="address"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.address|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="address"
														th:field="*{address.address}" required>
												</div>
											</div>
											<div class="form-group row" th:if="${#strings.contains(action, 'update')}">											
												<label for="address"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.coordinates|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<label class="form-control" id="coordinates"
														th:text="${dto.address.latitude} + ', ' +${dto.address.longitude}" ></label>
												</div>
											</div>
											<script >
											 	 var input = document.getElementById('address');
										     	 // var autocomplete = new google.maps.places.Autocomplete(input,{types: ['(cities)']});
											 	 var autocomplete = new google.maps.places.Autocomplete(input);
										     	 google.maps.event.addListener(autocomplete, 'place_changed', function(){
											         var place = autocomplete.getPlace();
													 var lat = place.geometry.location.lat();
													 var lng = place.geometry.location.lng();
													 document.getElementById('latitude').value=lat;
													 document.getElementById('longitude').value=lng;
													 document.getElementById('searchAddrValue').value = document.getElementById('address').value; 
													 document.getElementById('coordinates').innerHTML=lat + ", " + lng;
										     	 })
										     	 
										     	 $(document).ready(function() {
										     		document.getElementById('searchAddrValue').value = document.getElementById('address').value;
										     		 $("#professional_form" ).submit(function( event ) {
										     			  // when we submit form, if search Value != address value then that means user did not select from suggestion
										     			  if (document.getElementById('searchAddrValue').value != document.getElementById('address').value) {
											     			 document.getElementById('latitude').value = null;
											     			 document.getElementById('longitude').value = null;
										     			  }
										     		})
										     	 });
										     	 
											</script>
											<!-- Formation Type -->
											<div class="form-group row" id="account_type_div">
												<label for="formation"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.formation|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<select class="form-control" id="userId" th:field="*{formation}">
													<option th:each="formation : ${formations}" th:value="${formation}"
													 th:text="#{'formation.level.' + ${formation}}"></option>
												</select>
												</div>
											</div>
											<!-- Website -->
											<div class="form-group row">
												<label for="website"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.website|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="website"
														th:field="*{website}">
												</div>
											</div>
											<!-- Linkedin -->
											<div class="form-group row">
												<label for="linkedin"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.linkedin|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="linkedin"
														th:field="*{linkedin}">
												</div>
											</div>
											<!-- Facebook -->
											<div class="form-group row">
												<label for="facebook"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.facebook|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="facebook"
														th:field="*{facebook}">
												</div>
											</div>
											<!-- Is supervised? -->
											<div class="form-group row">
												<label for="supervised"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.supervised|}"></label>
												<div class="col-sm-5 col-xs-10">
													<input id="supervised" th:field="*{supervised}"
														type="checkbox">
												</div>
											</div>
											<input type="hidden" th:field="*{specialty.id}">
											
											<div class="form-group row">
												<label for="sp_domicile"
													class="label form-control-label col-md-2 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.specialty.domicile|}"></label>												
													<input id="sp_domicile" th:field="*{specialty.domicile}" type="checkbox">
												<label for="sp_individual"
													class="label form-control-label col-md-2 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.specialty.individual|}"></label>												
													<input id="sp_individual" th:field="*{specialty.individual}" type="checkbox">
												<label for="sp_group"
													class="label form-control-label col-md-2 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.specialty.group|}"></label>												
													<input id="sp_group" th:field="*{specialty.grp}" type="checkbox">
												<label for="sp_children"
													class="label form-control-label col-md-2 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.specialty.children|}"></label>												
													<input id="sp_children" th:field="*{specialty.children}" type="checkbox">
											</div>
											<div class="form-group row">
												<label for="sp_adult"
													class="label form-control-label col-md-2 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.specialty.adult|}"></label>												
													<input id="sp_adult" th:field="*{specialty.adult}" type="checkbox">
												<label for="sp_pregnancy"
													class="label form-control-label col-md-2 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.specialty.pregnancy|}"></label>												
													<input id="sp_pregnancy" th:field="*{specialty.pregnancy}" type="checkbox">
												<label for="sp_sport"
													class="label form-control-label col-md-2 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.specialty.sport|}"></label>												
													<input id="sp_sport" th:field="*{specialty.sport}" type="checkbox">
												<label for="sp_enterprise"
													class="label form-control-label col-md-2 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.specialty.enterprise|}"></label>												
													<input id="sp_enterprise" th:field="*{specialty.enterprise}" type="checkbox">
											</div>
											
											<!-- PROFILE SECTION -->
											<h2>Profile</h2><br>
											
											<!-- Profile picture -->
											<div class="form-group row">
												<div class="offset-md-3 col-md-4 col-sm-12 text-center" th:if="${action != 'create'}">													
													<a th:href="${baseMediaURL + '/image/download/' + dto.profilePicture}" 
														target="_blank">
														<img id="imagePreview" class="image-fit image-preview" 
														 th:src="${baseMediaURL + '/image/view/' + dto.profilePicture}">
													</a>
												</div>
											</div>
											
										 	<th:block th:switch="${action}">
												<div th:case="create" class="form-group row">
													<label for="uploadImageFile" class="label form-control-label col-md-3 col-sm-3 hidden-xs" 
														th:text="#{|${baseMessageKey}.detail.image|}"></label>
													<div class="col-sm-5 col-xs-12">
														<div class="custom-file">
															<input type="file" class="custom-file-input" th:field="*{uploadImageFile}" id="uploadImageFile" 
																th:placeholder="#{|${baseMessageKey}.detail.image.placeholder|}" 
																th:accept="${supportImageTypes}" onChange="selectImage(this)" 
																th:default-src="@{/images/default/{pageName}.png(pageName=${pageName})}"/>
															<label class="custom-file-label" for="uploadImageFile" id="imageFileLabel" 
																th:data-browse="#{action.select.image}"></label>
														</div>
													</div>
												</div>
	
												<div th:case="*" class="form-group row">
													<label for="uploadImageFile" class="label form-control-label col-md-3 col-sm-3 hidden-xs" 
														th:text="#{|${baseMessageKey}.detail.image|}"></label>
													<div class="col-md-8 col-sm-9 col-xs-12">
														<div class="custom-file">
															<input type="file" class="custom-file-input" th:field="*{uploadImageFile}" id="uploadImageFile" 
																th:placeholder="#{|${baseMessageKey}.detail.image.placeholder|}" 
																th:accept="${supportImageTypes}" onChange="selectImage(this)" 
																th:default-src="${baseMediaURL + '/image/view/' + dto.profilePicture}" />
															<label class="custom-file-label" for="uploadImageFile" id="imageFileLabel" 
																th:data-browse="#{action.select.image}" ></label>
														</div>
													</div>
												</div>
												
										</th:block>
										<script type="text/javascript">
										function selectImage(inputElement, groupName) {
											var fileName = inputElement.files[0].name;
											$("#imageFileLabel").text(fileName);
										}
										</script>
										<!-- Description -->
										<div class="form-group row">
											<label for="description"
												class="label form-control-label col-md-3 col-sm-3 hidden-xs"
												th:text="#{|${baseMessageKey}.detail.description|}"></label>
											<div class="col-md-8 col-sm-9 col-xs-12">
												<textarea class="form-control" rows="4" id="description"
													th:field="*{description}"> </textarea>
												<div class="invalid-feedback"></div>
											</div>
										</div>
										
										<!-- PRICE SECTION -->
										<h2>Price</h2><br>
											
										
										<!-- Prices -->
										<div  id="price_div" >
											<input type="hidden" id="priceIdsToRemove" name="priceIdsToRemove" value="">
											<div class="form-group row">
												<div class="col-md-4 col-sm-5 col-xs-12">
														<span>Label</span>
												</div>
												<div class="offset-md-1 col-md-3 offset-sm-1 col-sm-3 col-xs-12">
														<span>Price (&euro;)</span>
												</div>
												
											</div>
											<div class="form-group row" th:each="price, itemStats : ${dto.prices}" th:id="'div_old_price_' + ${price.id}">
													<!-- <input	type="hidden"
														th:field="*{prices[__${itemStats.index}__].user}" /> -->
													<input type="hidden"
														th:field="*{prices[__${itemStats.index}__].id}" />
														
													<input class="form-control col-md-4 col-sm-5 col-xs-12"
														th:field="*{prices[__${itemStats.index}__].label}" />
													<input class="form-control offset-md-1 col-md-3 offset-sm-1 col-sm-3 col-xs-12"
														th:field="*{prices[__${itemStats.index}__].price}" />
													<button type="button"  class="btn btn-icon btn-2 btn-danger offset-md-1" th:title="#{action.delete.title}" 
													th:onclick="'javascript:removeOldPrice(' + ${price.id} + ');'"><span class="btn-inner--icon">
													<i class="fas fa-times"></i></span> </button>
											
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-4 col-sm-5 col-xs-12">
													<input class="form-control" type="text" id="price_label">
											</div>
											<div class="offset-md-1 col-md-3 offset-sm-1 col-sm-3 col-xs-12">
													<input class="form-control" type="text" id="price_value">
											</div>
											<div class="offset-md-1">
													<a class="btn btn-icon btn-2 btn-primary" title="#{action.add.title}" id="add_price"> 
														<span class="btn-inner--icon"> 
														<i class="fas fa-edit"></i> <span th:text="#{action.add}"></span>
														</span>
													</a>
											</div>
										</div>
										
										
										<script>
											function removeOldPrice(priceId){
												var idsToRemoveTxt = document.getElementById('priceIdsToRemove').value;
												if (idsToRemoveTxt == "") {
													idsToRemoveTxt += priceId; 
												} else {
													idsToRemoveTxt = idsToRemoveTxt + "," + priceId;
												}
												
												document.getElementById('priceIdsToRemove').value = idsToRemoveTxt;
												var divToRemove = 'div_old_price_' + priceId;
												document.getElementById(divToRemove).remove();
											}
											
											function removeElemById(id) {
												elem = document.getElementById(id)
												while( elem.hasChildNodes() ){
													elem.removeChild(elem.lastChild);
												}
												elem.remove();
											}
											
											$(document).ready(function() {
											    
												var index = [[${#lists.size(dto.prices)}]]; // Get the current number of price elements
												$("#add_price").click(function() {
													var current_label=$("#price_label").val();
													var current_price=$("#price_value").val();
													
													var id_new_div="div_price_"+ index;

													var id_new_label="prices"+ index + ".label";
													var name_new_label="prices["+ index + "].label";

													var id_new_price="prices"+ index + ".price";
													var name_new_price="prices["+ index + "].price";

													
													var new_label = "<input class='form-control col-md-4 col-sm-5 col-xs-12' type='text' id='" + id_new_label 
																+ "' name='" + name_new_label + "' value='"+current_label+"' required>";
													var new_price = "<input class='form-control offset-md-1 col-md-3 offset-sm-1 col-sm-3 col-xs-12' type='number' step='0.01' id='" 
																+ id_new_price + "' name='" + name_new_price + "' value='"+current_price+"' required>";
													var remove_btn = "<input class='form-control offset-md-1 col-md-2 offset-sm-1 col-sm-3 col-xs-12' type='button' onclick=removeElemById('" 
																+ id_new_div + "') value='Remove'></button>";
													
													var new_inner_div = "<div class='form-group row' id='"+ id_new_div + "'>" + new_label + new_price + remove_btn + "</div>";
													$("#price_div").append(new_inner_div);
													
													index++;
												})
											})
										</script>
										
										<!-- DEGREE SECTION -->
										<h2>Degrees</h2><br>
										
										<div  id="degree_div">
											<input type="hidden" id="degreeIdsToRemove" name="degreeIdsToRemove" value="">
											<div class="form-group row" >
												<div th:each="degree, itemStats : ${dto.degreeFiles}" th:id="'div_old_degree_' + ${degree.id}">
													<input	type="hidden"
														th:field="*{degreeFiles[__${itemStats.index}__].user}" />
													<input type="hidden"
														th:field="*{degreeFiles[__${itemStats.index}__].id}" />
													<figure class="mr-2" style="display: table;">													
													  <img th:src="@{/images/delete-doc-symbol.png}" width=100 
													  		th:onclick="'javascript:removeOldDegree(' + ${degree.id} + ');'">
													  <figcaption th:text="${degree.filePath}" style="display: table-caption; caption-side: bottom ;">File name </figcaption>												
													</figure>
												</div>
											</div>
										</div>
										<div class="form-group row">											
											<div class="col" id="fileList"></div>
										</div>
										
										<div  class="form-group row">
													<label for="degrees" class="label form-control-label col-md-3 col-sm-3 hidden-xs" 
														th:text="#{|${baseMessageKey}.detail.degree|}"></label>
													<div class="col-sm-5 col-xs-12">
														<div class="custom-file">
															<input type="file" multiple="multiple" name="degrees" id="degrees" class="custom-file-input"  
																onChange="javascript:updateDegreeList()" 	 />
															<label class="custom-file-label" for="degrees" id="degreeFileLabel" 
																th:data-browse="#{action.select.image}"></label>
														</div>
													</div>
												</div>
												
										<script>
											function removeOldDegree(degreeId){
												var idsToRemoveTxt = document.getElementById('degreeIdsToRemove').value;
												if (idsToRemoveTxt == "") {
													idsToRemoveTxt += degreeId; 
												} else {
													idsToRemoveTxt = idsToRemoveTxt + "," + degreeId;
												}
												
												document.getElementById('degreeIdsToRemove').value = idsToRemoveTxt;
												var divToRemove = 'div_old_degree_' + degreeId;
												document.getElementById(divToRemove).remove();
											}
											
											updateDegreeList = function() {
											    var input = document.getElementById('degrees');
											    var output = document.getElementById('fileList');
											    var children = "";
											    for (var i = 0; i < input.files.length; ++i) {
											        children += '<li>' + input.files.item(i).name + '</li>';
											    }
											    output.innerHTML = '<ul>'+children+'</ul>';
											}
										</script>
										<!-- School -->
										
										<div class="form-group row">
												<label for="school"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs"
													th:text="#{|${baseMessageKey}.detail.school|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="school"
														th:field="*{school}">
												</div>
										</div>
										
										<!-- MEDIAS SECTION -->
										<h3>Medias</h3>	<BR>
																			
										<div  id="media_div">
											<input type="hidden" id="mediaIdsToRemove" name="mediaIdsToRemove" value="">
											<div class="form-group row">
											<div class="form-group row" th:each="media, itemStats : ${dto.mediaFiles}" 
																	th:id="'div_old_media_' + ${media.id}">
													<input	type="hidden"
														th:field="*{mediaFiles[__${itemStats.index}__].user}" />
													<input type="hidden"
														th:field="*{mediaFiles[__${itemStats.index}__].id}" />
													<figure>
														<img th:src="@{/images/delete-button.png}" width=100 
													  		th:onclick="'javascript:removeOldMedia(' + ${media.id} + ');'">
													  	<figcaption th:text="${media.filePath}" style="display: table-caption; caption-side: bottom ;">File name </figcaption>	
													 </figure>
												</div>
												</div>
										</div>
										<div class="form-group row">											
											<div class="col" id="mediaFileList"></div>
										</div>
										
										<div  class="form-group row">
													<label for="medias" class="label form-control-label col-md-3 col-sm-3 hidden-xs" 
														th:text="#{|${baseMessageKey}.detail.media|}"></label>
													<div class="col-sm-5 col-xs-12">
														<div class="custom-file">
															<input type="file" multiple="multiple" name="medias" id="medias" class="custom-file-input"  
																onChange="javascript:updateMediaList()" 	 />
															<label class="custom-file-label" for="medias" id="degreeFileLabel" 
																th:data-browse="#{action.select.image}"></label>
														</div>
													</div>
												</div>
												
												
										<!-- <div class="form-group row">										
											<input class="col" type="file" name="medias" id="medias" multiple="multiple" 
											onchange="javascript:updateMediaList()" /> 
										</div>-->
										<script>
										function removeOldMedia(mediaId){
											var idsToRemoveTxt = document.getElementById('mediaIdsToRemove').value;
											if (idsToRemoveTxt == "") {
												idsToRemoveTxt += mediaId; 
											} else {
												idsToRemoveTxt = idsToRemoveTxt + "," + mediaId;
											}
											
											document.getElementById('mediaIdsToRemove').value = idsToRemoveTxt;
											var divToRemove = 'div_old_media_' + mediaId;
											document.getElementById(divToRemove).remove();
										}
											updateMediaList = function() {
											    var input = document.getElementById('medias');
											    var output = document.getElementById('mediaFileList');
											    var children = "";
											    for (var i = 0; i < input.files.length; ++i) {
											        children += '<li>' + input.files.item(i).name + '</li>';
											    }
											    output.innerHTML = '<ul>'+children+'</ul>';
											}
										</script>
										
										<!-- PROFESSIONAL EVENTS SECTION-->
										<h3>Events</h3>	<BR>
										
										<div  id="event_div">
											<input type="hidden" id="eventIdsToRemove" name="eventIdsToRemove" value="">
											<div class="form-group row">
												<div class="col-md-2 col-sm-2 col-xs-12"><span>Date</span></div>
												<div class="col-md-3 col-sm-4 col-xs-12"><span>Address</span></div>
												<div class="col-md-3 col-sm-4 col-xs-12"><span>Description</span></div>
												<div class="col-md-1 col-sm-4 col-xs-12"><span>Price</span></div>
												
											</div> 
											<div class="form-group row" th:each="event, itemStats : ${dto.events}" 
																		th:id="'div_old_event_' + ${event.id}">
													<input	type="hidden"
														th:field="*{events[__${itemStats.index}__].user}" />
													<input type="hidden"
														th:field="*{events[__${itemStats.index}__].id}" />
													
													<div class="col-md-2 col-sm-2 col-xs-12 input-group">

														<input type="text" class="form-control datepicker"
															th:field="*{events[__${itemStats.index}__].date}" 
															th:data-date-format="${dateFormat.toLowerCase()}" 
															autocomplete="off"/>
															<div class="input-group-prepend">
															<span class="input-group-text"><i class="fas fa-calendar"></i></span>
															</div>															
													</div>
													<input type="hidden" th:field="*{events[__${itemStats.index}__].address.id}" >
													
													<input type="hidden" th:field="*{events[__${itemStats.index}__].address.latitude}" >
													<input type="hidden" th:field="*{events[__${itemStats.index}__].address.longitude}" >
													
													<textarea rows="1" class="form-control col-md-3 col-sm-4 col-xs-12" 
															th:field="*{events[__${itemStats.index}__].address.address}" required></textarea>
													<textarea rows="1" class="form-control col-md-3 col-sm-4 col-xs-12"
														th:field="*{events[__${itemStats.index}__].description}"> </textarea>
													<input type="number" step="0.01" class="form-control col-md-1 col-sm-4 col-xs-12"
													th:field="*{events[__${itemStats.index}__].price}"
														id="eventPrice" />
													
													<button type="button"  class="btn btn-icon btn-2 btn-danger offset-md-1" th:title="#{action.delete.title}" 
													th:onclick="'javascript:removeOldEvent(' + ${event.id} + ');'"><span class="btn-inner--icon">
													<i class="fas fa-times"></i></span> </button>
											</div>
										</div>
									
										<!-- Date -->
										<div class="form-group row">
											 <label for="eventDate"
												class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.event.date|}"></label>

												<div class="col-md-3 col-sm-8 input-group">						
													<input type="text" class="form-control datepicker" 
													   id="eventDate" 													
														th:data-date-format="${dateFormat.toLowerCase()}" 
														autocomplete="off" />
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="fas fa-calendar"></i></span>
													</div>
												</div>											
										</div>
										<!-- Address -->
										<div class="form-group row">	
												<input type="hidden" id="eventLatitude">
												<input type="hidden" id="eventLongitude">
												<input type="hidden" id="eventSearchAddrValue">										
												<label for="eventAddress"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.event.address|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="eventAddress">
												</div>
											</div>
										<!-- Description -->
										<div class="form-group row">
											<label for="eventDescription"
												class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.event.description|}"></label>
											<div class="col-md-8 col-sm-9 col-xs-12">
												<textarea class="form-control" rows="4" id="eventDescription"></textarea>
												<div class="invalid-feedback"></div>
											</div>
										</div>
										<!-- Price -->
										<div class="form-group row">
											<label for="eventPrice"
												class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
												th:text="#{|${baseMessageKey}.detail.event.price|}"></label>
											<div class="col-md-8 col-sm-9 col-xs-12s">
												<input type="number" step="0.01" class="form-control"
													id="eventPrice" />
												<div class="invalid-feedback"></div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-3  col-sm-3 col-xs-12">
													<!-- <button class="form-control" type="button" id="add_event">Add</button> -->
													
													<a class="btn btn-icon btn-2 btn-primary" title="#{action.add.title}" id="add_event"> 
													<span class="btn-inner--icon"> 		<i class="fas fa-edit"></i> <span th:text="#{action.add}"></span>
													</span>
													</a>
											
											</div>
										</div>
										<script >
									 	 var eventInput = document.getElementById('eventAddress');
									 	 var eventAutocomplete = new google.maps.places.Autocomplete(eventInput);
								     	 google.maps.event.addListener(eventAutocomplete, 'place_changed', function(){
									         var place = eventAutocomplete.getPlace();
											 var lat = place.geometry.location.lat();
											 var lng = place.geometry.location.lng();
											 document.getElementById('eventLatitude').value=lat;
											 document.getElementById('eventLongitude').value=lng;
											 document.getElementById('eventSearchAddrValue').value = document.getElementById('eventAddress').value; 
								     	 })
									     	 
									     	 
										function removeOldEvent(eventId){
											var idsToRemoveTxt = document.getElementById('eventIdsToRemove').value;
											if (idsToRemoveTxt == "") {
												idsToRemoveTxt += eventId; 
											} else {
												idsToRemoveTxt = idsToRemoveTxt + "," + eventId;
											}
											
											document.getElementById('eventIdsToRemove').value = idsToRemoveTxt;
											var divToRemove = 'div_old_event_' + eventId;
											document.getElementById(divToRemove).remove();
										}
										
										var indexEvent = [[${#lists.size(dto.events)}]]; // Get the current number of price elements
										$("#add_event").click(function() {
											// when we add event, if search Value != address value then that means user did not select from suggestion
							     			if (document.getElementById('eventSearchAddrValue').value != document.getElementById('eventAddress').value) {
								     			document.getElementById('eventLatitude').value = null;
								     			document.getElementById('eventLongitude').value = null;
							     			} else {
							     				alert(document.getElementById('eventLatitude').value + ", " + document.getElementById('eventLongitude').value );
							     			}
											var current_date=$("#eventDate").val();
											var current_address=$("#eventAddress").val();
											var current_latitude = document.getElementById('eventLatitude').value;
											var current_longitude = document.getElementById('eventLongitude').value;

											var current_description=$("#eventDescription").val();
											var current_price=$("#eventPrice").val();

											var id_new_div="div_event_"+ indexEvent;

											var id_new_date="events"+ indexEvent + ".date";
											var name_new_date="events["+ indexEvent + "].date";

											var id_new_address="events"+ indexEvent + ".address.address";
											var name_new_address="events["+ indexEvent + "].address.address";
											
											var id_new_latitude="events"+ indexEvent + ".address.latitude";
											var name_new_latitude="events["+ indexEvent + "].address.latitude";
											
											var id_new_longitude="events"+ indexEvent + ".address.longitude";
											var name_new_longitude="events["+ indexEvent + "].address.longitude";

											

											var id_new_description="events"+ indexEvent + ".description";
											var name_new_description="events["+ indexEvent + "].description";
											
											var id_new_price="events"+ indexEvent + ".price";
											var name_new_price="events["+ indexEvent + "].price";
											
											var new_date = "<div class='input-group col-md-2 col-sm-6 col-xs-12'>" 
															+" <input class='form-control datepicker' data-date-format='dd-mm-yyyy' type='text' autocomplete='off' id='" 
															+ id_new_date + "' name='" + name_new_date + "' value='"+current_date
															+"' required><div class='input-group-prepend'> <span class='input-group-text'><i class='fas fa-calendar'></i></span></div></div>";
											var new_address = "<input class='form-control  col-md-3  col-sm-4 col-xs-12' type='text' id='" + id_new_address 
															+ "' name='" + name_new_address + "' value='"+current_address+"' required>";
											var new_latitude = "<input  type='hidden' id='" + id_new_longitude 
															+ "' name='" + name_new_longitude + "' value='"+current_latitude+"'>";
											var new_longitude = "<input  type='hidden' id='" + id_new_latitude 
															+ "' name='" + name_new_latitude + "' value='"+current_longitude+"'>";
											var new_description = "<input class='form-control  col-md-3 col-sm-4 col-xs-12' type='text'  id='" + id_new_description 
															+ "' name='" + name_new_description + "' value='"+current_description+"' required>";
											var new_price = "<input class='form-control col-md-1 col-sm-4 col-xs-12' type='number' step='0.01' id='" + id_new_price 
															+ "' name='" + name_new_price + "' value='"+current_price+"' required>";
															
															
																
											var remove_btn = "<button class='btn btn-icon btn-2 btn-danger offset-md-1' type='button' onclick=removeElemById('" 
																+ id_new_div + "')><span class='btn-inner--icon'><i class='fas fa-times'></i></span></button>";
											
											var new_inner_div = "<div class='form-group row' id='"+ id_new_div + "'>" + new_date + new_address + new_latitude + new_longitude +
																new_description + new_price +  remove_btn +"</div>";
											//alert(new_inner_div);
											$("#event_div").append(new_inner_div);
											
											indexEvent++;
										})
										</script>
											
										<!-- Save or go back -->
										<div th:if="${writePermission}" class="form-group row">
											<div
												class="offset-md-2 col-md-8 offset-sm-3 col-sm-9 col-xs-12">
												<div class="form-action-buttons-row">
													<button type="submit" class="btn btn-primary"
														th:title="#{action.save.title}">
														<i class="fas fa-save"></i> <span class="hidden-xs"
															th:text="#{action.save}"></span>
													</button>

													<a class="btn btn-outline-warning"
														th:href="${baseURL + '/current-page'}"
														th:title="#{action.go.to.list.title}"> <span
														class="btn-inner--icon"> <i
															class="fas fa-arrow-left"></i> <span
															th:text="#{action.go.to.list}"></span>
													</span>
													</a>
												</div>
											</div>
										</div>
										</div>
									</div>
								</fieldset>
							</form>

						</div>

					</div>
				</div>
			</div>
		</div>
		<th:block th:replace="fragments/data-list-modals :: modals"></th:block>

	</th:block>

	<section layout:fragment="scripts">
		  
	<script>
		 
		var editAccType = 2;
		var editPermissions = 2;
	</script>
		<div th:if="${editAccType != null}">
			<script>
		   	editAccType = [[${editAccType}]];
	   </script>
		</div>
		<div th:if="${editPermissions != null}">
			<script>
			editPermissions = [[${editPermissions}]];
	   </script>
		</div>
		<script>
			$(document).ready(function() {
				showOnLoadedModal();
			});
		</script>
	</section>

</body>
</html>