/********* Overrides *************/
b, strong {
    font-weight: bold;
}

.main-content .navbar {
	padding-top: 10px;
}

.required-field::after {
	content: "*";
	color: #f00;
	padding-left: 6px;
}

.invalid-feedback {
	display: initial;
}

.image-fit {
	max-width: 100%;
	max-height: 100%;
	display: block;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}

.main-header-container {
	min-height: 50px;
}

.form-title-label {
	/*padding-top: 10px;*/
}

.form-search-container {
	color: #495057;
    border-top: 1px solid #dee2e6;
    margin-top: 12px;
    padding-top: 10px;
}

.bootstrap-select .bs-searchbox .form-control {
	border: 1px solid #ced4da;
}

label.disabled {
	color: #a0a0a0;
	cursor: not-allowed;
}

@media (min-width: 768px) {
	.md-text-right {
		text-align: right;
	}
}

@media (min-width: 576px) {
	.sm-form-group {
    	margin-bottom: 1rem;
	}
}

select.selectpicker[disabled] + button {
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	box-shadow: none;
	color: #a0a0a0;
    opacity: 1;
}

.form-control[disabled] {
	color: #a0a0a0;
}

.form-control[disabled] + .input-group-prepend .input-group-text {
	color: #a0a0a0;
}

/********* Modal *************/
.modal-header.modal-header-warning {
	background-color: #fb6340; 
	color: #fff;
}

.modal-header.modal-header-warning button,
.modal-header.modal-header-warning .modal-title {
	color: #fff;
}

.modal-header.modal-header-danger {
	background-color: #f5365c; 
	color: #fff;
}

.modal-header.modal-header-danger button,
.modal-header.modal-header-danger .modal-title {
	color: #fff;
}

/********* Toast *************/
.toast-primary .toast-header {
	background-color: #5e72e4; 
	color: #fff;
}

.modal-dialog .modal-header-primary svg rect,
.modal-primary .modal-header svg rect,
.toast-primary .toast-header svg rect {
	fill: #2038c1;	/* 30% darker */
}

.toast-secondary .toast-header {
	background-color: #f7fafc; 
	color: #212529;
}
.modal-dialog .modal-header-secondary svg rect,
.modal-secondary .modal-header svg rect,
.toast-secondary .toast-header svg rect {
	fill: #8ab5d3;	/* 30% darker */
}

.toast-success .toast-header {
	background-color: #2dce89; 
	color: #fff;
}

.modal-dialog .modal-header-success svg rect,
.modal-success .modal-header svg rect,
.toast-success .toast-header svg rect {
	fill: #1f905f;	/* 30% darker */
}

.toast-info .toast-header {
	background-color: #11cdef; 
	color: #fff;
}

.modal-dialog .modal-header-info svg rect,
.modal-info .modal-header svg rect,
.toast-info .toast-header svg rect {
	fill: #0b8fa7;	/* 30% darker */
}

.toast-warning .toast-header {
	background-color: #fb6340; 
	color: #fff;
}

.modal-dialog .modal-header-warning svg rect,
.modal-warning .modal-header svg rect,
.toast-warning .toast-header svg rect {
	fill: #d72c04;	/**30% darker */
}

.toast-danger .toast-header {
	background-color: #f5365c; 
	color: #fff;
}

.modal-dialog .modal-header-danger svg rect,
.modal-danger .modal-header svg rect,
.toast-danger .toast-header svg rect {
	fill: #c7092f;	/**30% darker */
}

/********* Table *************/
table.dataTable {
	margin-top: 0px !important;	
}

table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:before {
	padding-bottom: 0.25rem;	
}

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after {
    padding-bottom: .25rem;
}

table.dataTable td.action-column {
	text-align: right !important;
}

table.dataTable td.action-column .btn {
	/*padding: .625rem 1.25rem;*/
	padding: .5rem .8rem;	
}

table.dataTable thead .sorting:before {
	font-family:"Font Awesome 5 Free";
	content: "\f161";
	right: 1em;
}

table.dataTable thead .sorting:after {
	content: "" !important;
}

table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_asc_disabled:before {
	font-family:"Font Awesome 5 Free";
	content: "\f161";
	right: 1em;
}

table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_desc_disabled:before {
	content: "" !important;
}

table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
	font-family:"Font Awesome 5 Free";
	content: "\f160";
	right: 1em;
}

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}