<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    layout:decorate="~{layout/main-layout.html}">
<head>
    <title>About</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Normal page (No need login)</h1>
        
        <span sec:authorize="isAuthenticated()">
					| Logged user: <span sec:authentication="name"></span>
					| Roles: <span sec:authentication="principal.authorities"></span>
					| <a th:href="@{/oauth/logout}">Sign Out</a>
				</span>
    </div>
</body>
</html>