<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main-layout.html}">
<head>
    <title>Home</title>
</head>
<body>
    <th:block layout:fragment="content">
    	<h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
    	<h1 th:text="${#httpServletRequest.remoteUser}"></h1>
    	<div th:text="${#locale}"></div>
    	
    	<h1 th:text="#{greeting}"></h1>
    	
        <h1>Be Your Self Application</h1>
        <h2>Visit <a th:href="@{/user/management}">User management</a></h2>
        <h2>Visit <a th:href="@{/about}">Normal page</a></h2>
        <h2>API <a th:href="@{/api/test}">Test API</a></h2>
        
        <h2>5. <span th:utext="#{lang.change}"></span>: <a th:href="@{/home?lang=en}" th:text="#{lang.eng}"></a></h2>
        <h2>6. <span th:utext="#{lang.change}"></span>: <a th:href="@{/home?lang=fr}" th:text="#{lang.fr}"></a></h2>
        
        <audio id="audioPlayer" controls>
        	<source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9473/new_year_dubstep_minimix.ogg" type="audio/ogg">
        </audio>
		
        <video
                        controls
                        crossorigin
                        playsinline
                        poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg"
                        id="player"
                    >
                        <!-- Video files -->
                        <source
                            src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                            type="video/mp4"
                            size="576"
                        />
                        <source
                            src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                            type="video/mp4"
                            size="720"
                        />
                        <source
                            src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4"
                            type="video/mp4"
                            size="1080"
                        />

                        <!-- Caption files -->
                        <track
                            kind="captions"
                            label="English"
                            srclang="en"
                            src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                            default
                        />
                        <track
                            kind="captions"
                            label="Français"
                            srclang="fr"
                            src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt"
                        />

                        <!-- Fallback for browsers that don't support the <video> element -->
                        <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download
                            >Download</a
                        >
                    </video>
		
		<button type="button" class="btn btn-primary" onclick="stopAudio()">Stop Audio</button>
		<button type="button" class="btn btn-primary" onclick="stopVideo()">Stop Video</button>
		<button type="button" class="btn btn-primary" onclick="changeVideoUrls()">Chane Video url</button>
		
        <button class="btn btn-icon btn-2 btn-danger" type="button" 
			th:title="#{action.delete.title}" onclick="confirmDelete(1)">
			<span class="btn-inner--icon">
				<i class="fas fa-times"></i>
			</span>
		</button>
		
		<a href="#" onclick="confirmDelete(1)">XYZZZ</a>
		
        <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" 
			aria-labelledby="deleteConfirmModal" aria-hidden="true" data-backdrop="false">
			<div class="modal-dialog modal-danger modal-dialog-centered modal-7" role="document">
				<div class="modal-content">
					<form id="confirm-delete-form" action="javascript:;" method="POST">
						<div class="modal-header">
							<h3 class="modal-title" id="confirm-delete-modal-title" th:text="#{modal.confirm.delete.title}"></h3>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">Ã—</span>
							</button>
						</div>
						<div class="modal-body">
							<p th:text="#{modal.confirm.delete.message(#{'session.category.name'})}"></p>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-white" th:text="#{modal.button.yes}">Yes</button>
	                		<button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" th:text="#{modal.button.no}">No</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </th:block>

    <th:block layout:fragment="scripts">
    	<script type="text/javascript">
    		var audioPlayer;
			var videoPlayer;
			
			function confirmDelete(id) {
				var url = '[[${baseURL}]]/delete/' + id;
				
				$('#confirm-delete-form').attr('action', url);
				showModal('confirm-delete-modal');
			}
			

		    function stopAudio() {
		    	audioPlayer.stop();
		    }
		    
		    function stopVideo() {
		    	videoPlayer.stop();
		    }
		    
		    function changeVideoUrls() {
		    	videoPlayer.source = {
		    			type: 'video',
		    			sources: [
		    				{
		    					src: 'http://vjs.zencdn.net/v/oceans.mp4',
		    					type: 'video/mp4'
		    				}
		    			]
		    	};
		    	     
		    	videoPlayer.play();		    	     
		    }
		    
		    
			$(function() {
			    console.log( "ready!" );
			    
			    audioPlayer = new Plyr('#audioPlayer', { invertTime: false });
			    videoPlayer = new Plyr('#videoPlayer', { invertTime: false });
			});
		</script>
    </th:block>

</body>
</html>