<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main-layout.html}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Be Your Self Application</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
        <h2>4. API <a th:href="@{/api/test}">Test API</a></h2>
    </div>

    <section layout:fragment="scripts">
        
    </section>

</body>
</html>