<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
	<title th:text="#{|${baseMessageKey}.page.title|}"></title>
</head>
<body>
	<th:block layout:fragment="stylesheets">
		<style type="text/css">
			#[[${pageName + '-data-form'}]] .image-preview {
				max-height: 250px;
			}
		</style>
	</th:block>
	
	<th:block layout:fragment="content">
		<!-- Form -->
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-header border-0">
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<a class="btn btn-icon btn-2 btn-primary" th:href="${baseURL + '/current-page'}"
									th:title="#{action.go.to.list.title}">
									<span class="btn-inner--icon">
										<i class="fas fa-arrow-left"></i> <span th:text="#{action.go.to.list}"></span>
									</span>
								</a>
							</div>
							
							<div class="col-lg-6 text-right d-md-none d-lg-block">
								<h3 class="mb-0 form-title-label" th:utext="${formTitle}"></h3>
							</div>
						</div>
					</div>
					
					<div class="card-body border-0">
						<form action="#" th:action="${writePermission ? baseURL + '/' + action : 'javascript:;'}"
							th:id="${pageName + '-data-form'}"
							th:object="${dto}" method="post" enctype="multipart/form-data">
							<fieldset th:disabled="${!writePermission}">
								<div th:if="${param.error}">
									<div class="alert alert-danger">Invalid username and password.</div>
								</div>
				
								<div th:if="${param.logout}">
									<div class="alert alert-info">You have been logged out.</div>
								</div>
								
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="form-group row">
											<label for="code" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.code|}"></label>
											<div th:if="${action == 'create'}" class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{code}" id="code"
													th:placeholder="#{|${baseMessageKey}.detail.code.placeholder|}" 
													required="required" autofocus="autofocus" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
											</div>
											<div th:if="${action != 'create'}" class="col-md-10 col-sm-9 col-xs-12">
												<strong th:text="${dto.code}"></strong>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="codeType" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.code.type|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{codeType}" id="codeType"
													th:placeholder="#{|${baseMessageKey}.detail.code.type.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('codeType')}" th:errors="*{codeType}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="status" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.status|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{status}" id="status"
													th:placeholder="#{|${baseMessageKey}.detail.status.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="startDate" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.start.date|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{startDate}" id="startDate"
													th:placeholder="#{|${baseMessageKey}.detail.start.date.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="endDate" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.end.date|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{endDate}" id="endDate"
													th:placeholder="#{|${baseMessageKey}.detail.end.date.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="beneficiary" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.beneficiary|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{beneficiary}" id="beneficiary"
													th:placeholder="#{|${baseMessageKey}.detail.beneficiary.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('beneficiary')}" th:errors="*{beneficiary}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="maxUserCount" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.max.user.count|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{maxUserCount}" id="maxUserCount"
													th:placeholder="#{|${baseMessageKey}.detail.max.user.count.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('maxUserCount')}" th:errors="*{maxUserCount}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="usedTimes" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.used.times|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{usedTimes}" id="usedTimes"
													th:placeholder="#{|${baseMessageKey}.detail.used.times.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('usedTimes')}" th:errors="*{usedTimes}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="dealPrice" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.deal.price|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{dealPrice}" id="dealPrice"
													th:placeholder="#{|${baseMessageKey}.detail.deal.price.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('dealPrice')}" th:errors="*{dealPrice}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="pricePerUser" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.price.per.user|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{pricePerUser}" id="pricePerUser"
													th:placeholder="#{|${baseMessageKey}.detail.price.per.user.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('pricePerUser')}" th:errors="*{pricePerUser}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="maxUsageCount" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.max.usage.count|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{maxUsageCount}" id="maxUsageCount"
													th:placeholder="#{|${baseMessageKey}.detail.max.usage.count.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('maxUsageCount')}" th:errors="*{maxUsageCount}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="discountPercentage" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.discount.percentage|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{discountPercentage}" id="discountPercentage"
													th:placeholder="#{|${baseMessageKey}.detail.discount.percentage.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('discountPercentage')}" th:errors="*{discountPercentage}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="priceGiftCard" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.price.gift.card|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{priceGiftCard}" id="priceGiftCard"
													th:placeholder="#{|${baseMessageKey}.detail.price.gift.card.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('priceGiftCard')}" th:errors="*{priceGiftCard}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="buyerEmailGiftCard" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.buyer.email.gift.card|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{buyerEmailGiftCard}" id="buyerEmailGiftCard"
													th:placeholder="#{|${baseMessageKey}.detail.buyer.email.gift.card.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('buyerEmailGiftCard')}" th:errors="*{buyerEmailGiftCard}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="userEmailGiftCard" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.user.email.gift.card|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{userEmailGiftCard}" id="userEmailGiftCard"
													th:placeholder="#{|${baseMessageKey}.detail.user.email.gift.card.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('userEmailGiftCard')}" th:errors="*{userEmailGiftCard}"></div>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="durationGiftCard" class="label form-control-label col-md-2 col-sm-3 hidden-xs required-field" 
												th:text="#{|${baseMessageKey}.detail.duration.gift.card|}"></label>
											<div class="col-md-10 col-sm-9 col-xs-12">
												<input type="text" class="form-control" 
													th:field="*{durationGiftCard}" id="durationGiftCard"
													th:placeholder="#{|${baseMessageKey}.detail.duration.gift.card.placeholder|}" 
													required="required" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('durationGiftCard')}" th:errors="*{durationGiftCard}"></div>
											</div>
										</div>
										
										<div th:if="${writePermission}" class="form-group row">
											<div class="offset-md-2 col-md-10 offset-sm-3 col-sm-9 col-xs-12">
												<div class="form-action-buttons-row">
													<button type="submit" class="btn btn-primary" th:title="#{action.save.title}">
														<i class="fas fa-save"></i> <span class="hidden-xs" th:text="#{action.save}"></span>
													</button>
													
													<a class="btn btn-outline-warning" th:href="${baseURL + '/current-page'}"
														th:title="#{action.go.to.list.title}">
														<span class="btn-inner--icon">
															<i class="fas fa-arrow-left"></i> <span th:text="#{action.go.to.list}"></span>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<th:block th:replace="fragments/data-form-modals :: modals"></th:block>
	</th:block>

	<th:block layout:fragment="scripts">
		<script type="text/javascript">
			$(function() {
				$('select').selectpicker();
				
		    	showOnLoadedModal();
		    });
		</script>
	</th:block>
</body>
</html>