<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<div th:fragment="header-setting">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- Favicon -->
		<link href="../image/favicon.png" rel="icon" type="image/png">
	
		<!-- Fonts -->
		<link href="" rel="stylesheet">
	
		<!-- Icons -->
		<link href="../assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet">
		<link href="../assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
	
		<!--  CSS -->
		<link type="text/css" th:href="@{/css/argon.min.css}" rel="stylesheet" />
	
		<link type="text/css" th:href="@{/css/main.css}" rel="stylesheet" />
		
		<!-- Core -->
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</div>
	
</head>

<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Be Your Self Application</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>