<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title>Home</title>

</head>
<body>
	<div layout:fragment="content">

		<div class="container">
			<div class="row justify-content-center">
				<!--div class="col-lg-5 col-md-7"-->
				<div class="col-lg-7 col-md-9">
					<div class="card bg-secondary shadow border-0">
						<div class="card-body px-lg-5 py-lg-5">
							<div class="mb-3">
								<div class="text-center">
									<span><b>Account Settings</b></span>
										
								</div>
							</div>
							<form id="user_form" th:action="@{/user/settings/save}" th:object="${user}" method="post">
								<input type="hidden" th:field="*{id}" />

								<div class="form-group">
									<div class="input-group input-group-alternative mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Title</span>
										</div>
										<select id="title" class="form-control" th:field="*{title}">
											<option th:value="Mrs" th:text="Mrs"></option>
											<option th:value="Mr" th:text="Mr"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group input-group-alternative mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Last Name</span>
										</div>
										<input class="form-control" type="text" th:field="*{lastName}">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group input-group-alternative mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">First Name</span>
										</div>
										<input class="form-control" type="text"
											th:field="*{firstName}">
									</div>
								</div>

								<div class="form-group">
									<div class="input-group input-group-alternative mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Email</span>
										</div>
										<input class="form-control" type="email" th:field="*{email}">
									</div>
								</div>
								
								<div class="form-group">
									<div class="input-group input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text">Current Password</span>
										</div>
										<input class="form-control" name="current_pwd" type="password">
									</div>
								</div>
								
								<div class="form-group">
									<div class="input-group input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text">New Password</span>
										</div>
										<input class="form-control" id="new_pwd"  name="new_pwd" type="password">
									</div>
								</div>
								
								<div class="form-group">
									<div class="input-group input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text">Confirm New Password</span>
										</div>
										<input class="form-control" id="confirmed_new_pwd" name="confirmed_new_pwd" type="password">
									</div>
								</div>								
								
								<div class="text-center">
									<button type="submit" class="btn btn-primary mt-4">
										Save changes</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<section layout:fragment="scripts">
	<script type="text/javascript">
	$('#user_form').submit(function() {
	    if ($("#new_pwd").val() != null && $("#new_pwd").val() != '') {
	    	if ($("#confirmed_new_pwd").val() !=  $("#new_pwd").val()) {
	    		alert("New passwords do not match!");
	    		return false;
	    	}
	    } else {
	    	return false;
	    }
	    return true;
	});
	</script>
	</section>

</body>
</html>