<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 col-md-7">
					<div class="card bg-secondary shadow border-0">
						<div class="card-body px-lg-5 py-lg-5">
							<form th:action="@{/user/save}" th:object="${user}"
								method="post">
								<input type="hidden" th:field="*{id}" />
								<div class="form-group">
									<div class="input-group input-group-alternative mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="ni ni-hat-3"></i></span>
										</div>
										<input class="form-control" placeholder="First Name" type="text" th:field="*{firstName}">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group input-group-alternative mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="ni ni-hat-3"></i></span>
										</div>
										<input class="form-control" placeholder="Last Name" type="text" th:field="*{lastName}">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group input-group-alternative mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="ni ni-email-83"></i></span>
										</div>
										<input class="form-control" placeholder="Email" type="email" th:field="*{email}">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text"><i
												class="ni ni-lock-circle-open"></i></span>
										</div>
										<input class="form-control" placeholder="Password" type="password" th:field="*{password}">
									</div>
								</div>

								<div class="row my-4">
									<div class="col-12">
										<div
											class="custom-control custom-control-alternative custom-checkbox">
											<input class="custom-control-input" id="customCheckRegister"
												type="checkbox"> <label class="custom-control-label"
												for="customCheckRegister"> <span class="text-muted">I
													agree with the <a href="#!">Privacy Policy</a>
											</span>
											</label>
										</div>
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-primary mt-4">Create account</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<section layout:fragment="scripts"></section>

</body>
</html>