<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<div>
			<a href="/user/add" class="btn btn-sm btn-primary">+ Add User</a>
			<a href="/user/exportcsv" class="btn btn-sm btn-primary">Export CSV</a>
			<a href="/user/uploadform" class="btn btn-sm btn-primary">Import CSV</a>
		</div>
		<!-- Table -->
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-header border-0">
						<h3 class="mb-0">Users list</h3>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Email</th>
									<th scope="col">FullName</th>
									<th scope="col">Status</th>
									<th scope="col">Subscription Type</th>
									<th scope="col">Role</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${userPage.content}">
									<td><span th:text="${user.id}"> ID </span></td>
									<td><span th:text="${user.email}"> Email </span></td>
									<td><span th:text="${user.fullName}"> Fullname </span></td>
									<td  th:text="${user.statusDescription}"></td>
									
									<td scope="col">Subscription Type</td>
									<td  th:text="${user.userTypeDescription}"></td>
									<td class="text-right">
										<div class="dropdown">
											<a class="btn btn-sm btn-icon-only text-light" href="#"
												role="button" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"> <i class="fas fa-ellipsis-v"></i>
											</a>
											<div
												class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
												<a class="dropdown-item"
													th:href="@{/user/{id}/update(id=${user.id})}">Update</a> <a
													class="dropdown-item"
													th:href="@{/user/{id}/delete(id=${user.id})}">Delete</a> 
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Begin paging -->
					<div class="card-footer py-4">
							<nav aria-label="...">
								<ul class="pagination justify-content-end mb-0">
									<li class="page-item">
										<a class="page-link" th:href="@{|/user/list/page/${userPage.number}|}" tabindex="-1" th:if="${userPage.number > 0}"> 
											<i class="fas fa-angle-left"></i>
										</a>									
									</li>

									<li class="page-item" th:each="pageNumber : ${pageNumbers}" 
									th:classappend="${pageNumber==userPage.number + 1} ? active">
										<a class="page-link"
										th:href="@{|/user/list/page/${pageNumber}|}"
										th:text=${pageNumber} 
										>1</a>
									</li>
									
									<li class="page-item">
										<a class="page-link" th:href="@{|/user/list/page/${userPage.number+2}|}" tabindex="-1" th:unless="${userPage.number == userPage.totalPages - 1}"> 
											<i class="fas fa-angle-right"></i>
										</a>								
									</li>
									
								</ul>
							</nav>
					</div>
					<!-- End paging -->
				</div>
			</div>
		</div>
		<!-- End table -->

	</div>

	<section layout:fragment="scripts"></section>

</body>
</html>