<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title th:text="#{|${baseMessageKey}.page.title|}"></title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container">

			<div class="row">
				<div class="col">
					<div class="card  shadow">
						<!-- Card header -->
						<div class="card-header border-0">
							<div class="row">
								<div class="col-6">
									<a class="btn btn-icon btn-2 btn-primary"
										th:href="${baseURL+'/management'}"
										th:title="#{action.go.to.list.title}"> <span
										class="btn-inner--icon"> <i class="fas fa-arrow-left"></i>
											<span th:text="#{action.go.to.list}"></span>
									</span>
									</a>
								</div>

								<div class="col-lg-6 text-right d-md-none d-lg-block">
									<h3 th:if="${isUpdating}" class="mb-0 form-title-label">Update
										User</h3>
									<h3 th:unless="${isUpdating}" class="mb-0 form-title-label">Add
										User</h3>

								</div>

							</div>
						</div>
						<!-- Card body -->
						<div class="card-body px-lg-5 py-lg-5">
							<form th:action="@{/user/save}" th:object="${user}" method="post">
								<fieldset th:disabled="${!writePermission}">
									<input type="hidden" th:field="*{id}" />
									<div class="row">
										<div class="col-md-8 col-sm-12">
											<div class="form-group row">
												<label for="title"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.title|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<select id="title" class="form-control" th:field="*{title}"
														required>
														<option th:value="Mrs" th:text="Mrs"></option>
														<option th:value="Mr" th:text="Mr"></option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="lastname"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.lastname|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" id="lastname" type="text"
														th:field="*{lastName}">
												</div>
											</div>
											<div class="form-group row">
												<label for="firstname"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.lastname|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="firstname"
														th:field="*{firstName}" required>
												</div>
											</div>

											<div class="form-group row">
												<label for="email"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.email|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="email" id="email"
														th:field="*{email}" required>
												</div>
											</div>
											<div class="form-group row">
												<label for="loginType"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.logintype|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<select id="loginType" class="form-control"
														th:field="*{loginType}" required>
														<option th:value="0" th:text="Password"></option>
														<option th:value="1" th:text="Facebook"></option>
														<option th:value="2" th:text="Google"></option>
													</select>
												</div>
											</div>
											<div class="form-group row" id="password_div">
												<input type="hidden" th:field="*{password}" /> <label
													for="pwd"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.password|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" id="pwd" type="password"
														value="**********" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="pwd"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.status|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<select id="status" class="form-control"
														th:field="*{status}" required>
														<option th:value="0" th:text="Draft"></option>
														<option th:value="1" th:text="Active"></option>
														<option th:value="2" th:text="Inactive"></option>
													</select>
												</div>
											</div>

											<div class="form-group row">
												<label for="refcode"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.refcode|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<input class="form-control" type="text" id="refcode"
														th:field="*{referralCode}">
												</div>
											</div>
											<div class="form-group row" id="account_type_div">
												<label for="userType"
													class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
													th:text="#{|${baseMessageKey}.detail.usertype|}"></label>
												<div class="col-md-8 col-sm-9 col-xs-12">
													<select id="userType" class="form-control"
														th:field="*{userType}" required>
														<option th:value="B2B">Customer B2B</option>
														<option th:value="B2C">Customer B2C</option>
														<option th:value="PRO">Professional</option>
														<option th:value="ADM">Admin</option>
													</select>
												</div>

											</div>
											<div id="admin_permissions_div">
												<div class="form-group row"
													th:each="permission, itemStats : ${user.permissions}">
													<label
														class="label form-control-label col-md-3 col-sm-3 hidden-xs required-field"
														th:text="${permission.functionality.name}"></label> <input
														type="hidden"
														th:field="*{permissions[__${itemStats.index}__].user}" />
													<input type="hidden"
														th:field="*{permissions[__${itemStats.index}__].functionality}" />
													<input type="hidden"
														th:field="*{permissions[__${itemStats.index}__].id}" />
													<div class="col-md-8 col-sm-9 col-xs-12">
														<select class="form-control"
															th:field="*{permissions[__${itemStats.index}__].userPermission}"
															th:value="${permission.userPermission}">
															<option th:value="0">Denied</option>
															<option th:value="1">View Only</option>
															<option th:value="2">Edit</option>
														</select>
													</div>
												</div>

											</div>


											<div th:if="${writePermission}" class="form-group row">
												<div
													class="offset-md-2 col-md-8 offset-sm-3 col-sm-9 col-xs-12">
													<div class="form-action-buttons-row">
														<button type="submit" class="btn btn-primary"
															th:title="#{action.save.title}">
															<i class="fas fa-save"></i> <span class="hidden-xs"
																th:text="#{action.save}"></span>
														</button>

														<a class="btn btn-outline-warning"
															th:href="${baseURL+'/management'}"
															th:title="#{action.go.to.list.title}"> <span
															class="btn-inner--icon"> <i
																class="fas fa-arrow-left"></i> <span
																th:text="#{action.go.to.list}"></span>
														</span>
														</a>
													</div>
												</div>
											</div>


										</div>
										<div class="col-md-4" id="reset_pwd_email_div"
											th:if="${isUpdating && writePermission}">
											<div class="card shadow border-0">
												<div class="card-body px-lg-5 py-lg-5">
													<a th:href="@{/user/{id}/resetpassword(id=${user.id})}"
														class="btn btn-primary mt-4">Reset Password</a> <a
														th:href="@{/user/{id}/resendverifemail(id=${user.id})}"
														class="btn btn-primary mt-4">Resend Verification Email</a>

												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</form>

						</div>

					</div>
				</div>


			</div>


		</div>

	</div>

	<section layout:fragment="scripts">
		<script>
		var editAccType = 2;
		var editPermissions = 2;
	</script>
		<div th:if="${editAccType != null}">
			<script>
		   	editAccType = [[${editAccType}]];
	   </script>
		</div>
		<div th:if="${editPermissions != null}">
			<script>
			editPermissions = [[${editPermissions}]];
	   </script>
		</div>
		<script>

	var isUpdating = [[${isUpdating}]];

	
	function selectLoginType() {
		var selectedLoginType = $("select#loginType").children(
				"option:selected").val();
		if (selectedLoginType == 0) {
			$("#password_div").show();
			$("#reset_pwd_email_div").show();
		} else {
			$("#password_div").hide();
			$("#reset_pwd_email_div").hide();
		}
	}

	function selectUserType() {
		var selectedUserType = $("select#userType").children("option:selected").val();
		if (selectedUserType == "ADM" || selectedUserType == "SAM") {
			$("#admin_permissions_div").show();
		} else {
			$("#admin_permissions_div").hide();
		}
	}
	
	function selectAccountType() {
		if (editAccType == 1 || editAccType == 0) {
			$('#userType').css('pointer-events','none'); //Disable access to select account type
		}
	}
	
	function selectEditPermissions() {
		if (editPermissions == 1 || editPermissions == 0) {
			$('#admin_permissions_div').css('pointer-events','none'); //Disable access to edit permissions
		}
	}

	
	$(document).ready(function() {
		selectLoginType();
		selectUserType();
		selectAccountType();
		selectEditPermissions();
		
		$("select#loginType").change(function() {
			selectLoginType();
		});
		$("select#userType").change(function() {
			selectUserType();
		});
	});
</script>
	</section>

</body>
</html>